.box{
    position: absolute;
    background-color: white;
    color: black;
    bottom: 50px;
    top: 20px;
    left: 280px;
    width: 1000px;
    height: 600px;
    border-radius: 20px;
}

.container .box-img{
    position: absolute;
    width: 150px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    left: 50px;
}

.container{
    position: relative;
    width: 1500px;
    height: 89.25vh;
}

.container img#jumbotron{
    position: absolute;
    left: 0;
    width: 1536px; 
    height: 100%; 
    object-fit: cover;
    justify-self: flex-start;
}

.margin-cetak{
    position: absolute;
    margin-top: 230px;
    margin-right: 100px;
    left: 50px;
}

.iden-info{
    margin-left: 50px;
    margin-right: 50px;
}